.section-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background: #ffffff;
    row-gap: 4rem;
    text-align: center;
}

.section-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    z-index: 3;
}

.experienceSection {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

@media (max-width: 900px) {
    .xpText {
        font-size: 0.70rem;
    }
    .timeLineListElement {
        height: 90vh;
    }
}